@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&family=Titillium+Web:wght@300&display=swap');

*{
  font-family: 'Noto Sans Thai', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: #333;
  text-align: center;
}
img{
  width: 550px;
  height: 550px;
}
